tensorflow>=2.15.0; sys_platform != "darwin"
tensorflow-macos>=2.15.0; sys_platform == "darwin"
tensorflow-metal>=1.1.0; sys_platform == "darwin"
opencv-python
mediapipe
numpy>=1.24.0
pillow
matplotlib
scikit-learn
tqdm
